<div class="content-block mt-3">
  <h3>Passwort Sicherheit</h3>
  <div class="dx-card mt-4">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col">
          <mat-form-field class="w-100">
            <input matInput placeholder="Passwort eingeben" name="password" autocomplete="off" (input)="onPasswordUpdate($event.srcElement.value)" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer;">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">{{curPassword.length}} Zeichen</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-2" *ngIf="showSafetyInfo">

        
        <h4 class="border-bottom mb-3">Entropie des Passworts ({{entropyInfos.entropy | number: '1.0-2'}} Bits)</h4>
        
        <mat-progress-bar mode="determinate" [value]="saftyPercentage">
          <mat-hint align="end">{{saftyPercentage}}%</mat-hint>
        </mat-progress-bar>

        <mat-card class="entropy-card mt-4 mb-3">
            <mat-card-header>
              <div mat-card-avatar class="entropy-header-image"></div>
              <mat-card-title>Aktuelle Entropie</mat-card-title>
              <mat-card-subtitle>{{entropyInfos.entropy}} Bits</mat-card-subtitle>
            </mat-card-header>
            <hr class="mt-0 mb-2">
            <mat-card-content>
              <p>Zeichensatz = {{entropyInfos.poolSize}} Zeichen</p>
              <hr>
              <p>Entropie = log₂(Zeichensatz) * Passwortlänge</p>
              <p>→ log₂({{entropyInfos.poolSize}}) * {{curPassword.length}} = <strong>{{entropyInfos.entropy | number: '1.0-2'}}</strong></p>
              <hr>
              <p>Mögliche Kombinationen = Zeichensatz * Passwortlänge</p>
              <p>→ {{entropyInfos.poolSize}} * {{curPassword.length}} = <strong>{{entropyInfos.possibleCombinations}}</strong></p>
              <hr>
              <p *ngIf="entropyInfos.entropy < 28"><strong>Bewertung nach Entropie: </strong><span class="text-danger">Sehr schwach :(</span> (Hält vielleicht Familienmitglieder fern)</p>
              <p *ngIf="entropyInfos.entropy >= 28 && entropyInfos.entropy < 35"><strong>Bewertung nach Entropie: </strong><span class="text-warning">Schwach :|</span> (Hält die meisten fern, oft passend für PC Logins)</p>
              <p *ngIf="entropyInfos.entropy >= 35 && entropyInfos.entropy < 60"><strong>Bewertung nach Entropie: </strong><span class="text-info">Angemessen :)</span> (Recht sicheres Passwort, passend für Online- und Firmenpasswörter)</p>
              <p *ngIf="entropyInfos.entropy >= 60 && entropyInfos.entropy < 128"><strong>Bewertung nach Entropie: </strong><span class="text-success">Stark ^^</span> (Starkes Passwort, passend für Online-Banking)</p>
              <p *ngIf="entropyInfos.entropy >= 128"><strong>Bewertung nach Entropie: </strong><span class="text-success">Extrem stark <i class="fab fa-mailchimp"></i></span> (Oftmals übertrieben)</p>
            </mat-card-content>
          </mat-card>

        <h4 class="border-bottom mt-4 mb-3">Hinweise zu dem Passwort ({{curPassword.length}} Zeichen)</h4>

        <div class="mt-4" *ngFor="let info of safetyInfos">
          <div class="card mb-3" [ngClass]="{'text-white bg-dark': info.type === 0 || info.type === 4, 'border-info': info.type === 1, 'border-dark': info.type === 2, 'border-danger': info.type === 3}">
            <h5 class="card-header">{{info.title}}</h5>
            <div class="card-body" [ngClass]="{'text-info': false}">
              <p class="card-text">{{info.description}}</p>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
  </div>
</div>