<div class="content-block mt-3">
  <h3>Password security</h3>
  <div class="dx-card mt-4">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col">
          <mat-form-field class="w-100">
            <input matInput placeholder="Type in password..." name="password" autocomplete="off" (input)="onPasswordUpdate($event.srcElement.value)" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer;">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint align="end">{{curPassword.length}} characters</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="mt-2" *ngIf="showSafetyInfo">

        
        <h4 class="border-bottom mb-3">Password entropy ({{entropyInfos.entropy | number: '1.0-2'}} bits)</h4>
        
        <mat-progress-bar mode="determinate" [value]="saftyPercentage">
          <mat-hint align="end">{{saftyPercentage}}%</mat-hint>
        </mat-progress-bar>

        <mat-card class="entropy-card mt-4 mb-3">
            <mat-card-header>
              <div mat-card-avatar class="entropy-header-image"></div>
              <mat-card-title>Current entropy</mat-card-title>
              <mat-card-subtitle>{{entropyInfos.entropy}} bits</mat-card-subtitle>
            </mat-card-header>
            <hr class="mt-0 mb-2">
            <mat-card-content>
              <p>Charset = {{entropyInfos.poolSize}} characters</p>
              <hr>
              <p>Entropy = log₂(charset) * password length</p>
              <p>→ log₂({{entropyInfos.poolSize}}) * {{curPassword.length}} = <strong>{{entropyInfos.entropy | number: '1.0-2'}}</strong></p>
              <hr>
              <p>Possible combinations = charset * password length</p>
              <p>→ {{entropyInfos.poolSize}} * {{curPassword.length}} = <strong>{{entropyInfos.possibleCombinations}}</strong></p>
              <hr>
              <p *ngIf="entropyInfos.entropy < 28"><strong>Evaluation based on entropy: </strong><span class="text-danger">Very week 😔</span> (Possibly keeps away family members)</p>
              <p *ngIf="entropyInfos.entropy >= 28 && entropyInfos.entropy < 35"><strong>Evaluation based on entropy: </strong><span class="text-warning">Weak 😕</span> (Keeps away most people, might be a suitable computer password)</p>
              <p *ngIf="entropyInfos.entropy >= 35 && entropyInfos.entropy < 60"><strong>Evaluation based on entropy: </strong><span class="text-info">Appropiate 🙂</span> (Pretty secure password, suitable for online &amp; company passwords)</p>
              <p *ngIf="entropyInfos.entropy >= 60 && entropyInfos.entropy < 128"><strong>Evaluation based on entropy: </strong><span class="text-success">Strooong 💪</span> (Strong password, suitable for online banking)</p>
              <p *ngIf="entropyInfos.entropy >= 128"><strong>Evaluation based on entropy: </strong><span class="text-success">Very stroooong 💣</span> (Often exaggerated)</p>
            </mat-card-content>
          </mat-card>

        <h4 class="border-bottom mt-4 mb-3">Notes ({{curPassword.length}} characters)</h4>

        <div class="mt-4" *ngFor="let info of safetyInfos">
          <div class="card mb-3" [ngClass]="{'text-white bg-dark': info.type === 0 || info.type === 4, 'border-info': info.type === 1, 'border-dark': info.type === 2, 'border-danger': info.type === 3}">
            <h5 class="card-header">{{info.title}}</h5>
            <div class="card-body" [ngClass]="{'text-info': false}">
              <p class="card-text">{{info.description}}</p>
            </div>
          </div>
        </div>
        
      </div>
    
    </div>
  </div>
</div>